.shop header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search {
    background-color: var(--tg-theme-hint-color-08);
    border-radius: 12px;
    width: 80vw;
    height: 40px;
    max-width: calc((500px + min(60px, 9vw)) * 0.8);
    margin-right: min(10px, 2vw);
}

.search:focus-within {
    border: 2px solid var(--tg-theme-button-color, #4090e6);
}

.search__ico {
    cursor: pointer;
    font-size: 24px;
    vertical-align: middle;
    padding: 6px;
    color: var(--tg-theme-text-color, #dadada);
    opacity: .4;
}

.search__field {
    width: calc(100% - 42px);
    height: 100%;
    font-size: 17px;
    line-height: 22px;
    color: var(--tg-theme-text-color, #dadada);
}

.search__field::placeholder {
    color: var(--tg-theme-hint-color, #757577);
    font-weight: 500;
}

.settings__button {
    background-color: var(--tg-theme-hint-color-08);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 12px;
}

.settings__ico {
    width: 60%;
    height: 60%;
    vertical-align: middle;
}

.settings__ico .primary-color {
    fill: var(--tg-theme-button-color, #4090e6);
}

.shop nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 14px 0;
}

.shop nav .banner {
    display: block;
    width: calc(80vw + min(2vw, 10px) + 40px);
    height: calc((80vw + min(2vw, 10px) + 40px) / 8);
    max-width: 510px;
    max-height: 63.75px;
    border-radius: 10px;
    background: linear-gradient(to top right, #124FFF, #00154A);
    background-image: url(../images/banner.svg);
    cursor: pointer;
}

.shop .banner:hover {
    opacity: .95;
}

.shop .banner:active {
    opacity: .9;
}

.shop main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop .product__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: min(20px, 3vw);
    justify-content: center;
}

.shop .product {
    background-color: var(--tg-theme-hint-color-08);
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    width: 45.5vw;
    max-width: 250px;
}

.shop .product.unavailable {
    opacity: .85;
    cursor: not-allowed;
}

.shop .product__img {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 20px;
    margin: 0 auto;
}

.shop .product.unavailable .product__img {
    opacity: .6;
}

.shop .product__info {
    margin-bottom: 15px;
}

.shop .price {
    display: inline-block;
    font-weight: bold;
}

.shop .product__realprice {
    display: inline;
    float: right;
    color: var(--tg-theme-hint-color, #9a9a9a);
    text-decoration: line-through;
}

.shop .product__name {
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product__term__wrap {
    height: 38px;
}

.product__term__wrap span, .product__term__wrap p {
    display: block;
    color: var(--tg-theme-hint-color, #9a9a9a);
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 1px;
}

.shop .product__term {
    display: inline-flex;
    align-items: center;
    padding: 4px;
    background-color: var(--tg-theme-button-color, #4090e6);
    color: var(--tg-theme-button-text-color, #dadada);
    border: none;
    border-radius: 8px;
    width: 75px;
    height: 20px;
    font-size: 10px;
    font-weight: 600;
}

.shop .product.unavailable .product__term {
    background-color: var(--tg-theme-bg-color, black);
    color: var(--tg-theme-text-color, #dadada);
    cursor: not-allowed;
}

.shop .product__term.no__term {
    display: none;
}

option {
    background-color: #0c0c0c;
    color: var(--tg-theme-text-color, #dadada);
}

.shop .append {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tg-theme-bg-color, black);
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: var(--tg-theme-text-color, #dadada);
    border-radius: 12px;
    border: 1px solid var(--tg-theme-hint-color-15);
    box-shadow: 0 2px 8px var(--tg-theme-text-color-08),
                0 2px 1px var(--tg-theme-text-color-04);
    transition: transform .2s ease;
}

.shop .product.unavailable .append {
    cursor: not-allowed;
}

.shop .append:active {
    transform: scale(.96);
}

.shop .counter {
    display: none;
}

.shop .plus {
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    margin-right: 4px;
}

.shop .product.unavailable .plus {
    transform: rotate(45deg);
}

footer {
    background-color: var(--tg-theme-hint-color-08);
    text-align: center;
    color: var(--tg-theme-hint-color, #757577);
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}
